html{
  background-color:#333; 
}


#center_sq    
{
     

     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 90px;
     left: 0;

     width: 330px;
     height: 240px;
     background-color: #fc2161;
     border-radius: 3px;

     font-family: arial;
}

.box {
     height: 50px;
     width: 50px;
     background-color: #333;
     margin: 10px;
     margin-left: 20px;
     float: left;

     

}

h1 {
     text-align: center;
     font-family: Courier;
     color: #fc2161;
}

h3 {
     font-family: Courier;
     font-size: 35px;
}

.box:hover{
   background-color:#00CC99;
}